<!-- <ng-template #contentModal let-c="close" let-d="dismiss"> -->
    <!-- <div class="modal modal-sheet d-block " tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Add Task</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
          </div>
    
          <div class="modal-body p-5 pt-0">
            <form class="" #form="ngForm" (ngSubmit)="addNewTask()">                  
              <div class="row">
                  <label for="exampleFormControlSelect1">Project</label>
                  <select class="form-control" id="exampleFormControlSelect1" disabled>
                    <option value="">Select Project</option>
                    <option>ITP</option>
                    <option>eCommerce</option>
                    <option>Shindigger</option>
                    <option>iCashier</option>
                    <option>IBO</option>
                    <option>Mobile iReader</option>
                  </select>
              </div>

              <div class="row">
                <div class="col">
                  <label for="exampleFormControlSelect1">Priority Level</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Critical</option>
                  </select>
                </div>

                <div class="col">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Todo</option>
                    <option>In Progress</option>
                    <option>On Hold</option>
                    <option>Cancelled</option>
                    <option>Completed</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <label class="form-label">Start Date</label>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" name="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>
                </div>
              
                <div class="col-6">
                  <label class="form-label">Due Date</label>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="duePicker" [(ngModel)]="dueDate" name="dueDate">
                    <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
                    <mat-datepicker #duePicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label>Task Name</label>
                <input class="w-100 mb-2" type="text" placeholder="Enter task name">
              </div>

              <div class="row">
                <label>Task Description</label>
                <textarea class="w-100 mb-2" type="text" placeholder="Enter task description"></textarea>
              </div>
              
              <div class="modal-buttons d-flex align-items-center justify-content-end">
                <div class="cancel-btn">
                  <button>Cancel</button>
                </div>

                <div class="add-btn">
                  <button>Add</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div> --><!-- 
  </ng-template> -->
