<div class="container-whole px-3" >
      <header class="welcome-header d-flex justify-content-between align-items-center py-3">
        <img src="../../../assets/images/sbcomp.png" alt="Logo" class="img-fluid w-8" style="max-width: 100px; height: auto;">
      </header>

      <div class="d-flex justify-content-center align-items-center w-100" style="min-height: calc(100vh - 100px);">
        <div class="row align-items-center justify-content-center w-100" style="max-width: 1140px;">
    
          <div class="col-12 col-md-7 col-lg-6 text-center text-md-start">
            <h1 class="display-4 welcome-title fw-bold lh-sm mb-3">
              Welcome to <br> Task Management  
            </h1>
    
            <p class="lead easily mb-4">
              Easily organize, prioritize, and complete your tasks with confidence.
            </p>
    
            <div class="start">
              <a routerLink="/login" class="btn lift">
                Get Started 
              </a>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-5 d-flex justify-content-center justify-content-md-end mb-4 mb-md-0">
            <img src="../../../assets/images/Scrum-board.png" class="img-fluid board" alt="Scrum Board">
          </div>
    
        </div>
      </div>
    </div>

<app-footer ></app-footer>
