/* You can add global styles to this file, and also import other style files */
*{ 
    margin: 0;
    padding: 0;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container {
    z-index: 1060 !important; 
  }
  
  .cdk-overlay-pane {
    z-index: 1060 !important;
  }

  .mat-form-field-underline {
    display: none !important;

  }

  .bg-color ::ng-deep .mat-form-field-flex {
    background-color: #EBEFF3;
  }

  html, body {
    height: 100%;
    overflow: hidden;
  }

